{% extends 'base.html.twig' %}
{% block title %}New Project{% endblock %}
{% block header %}{% endblock %}
{% block little_panel %}
    {{ include('tools.html.twig') }}
{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <div class="row">
        <div class="col- {{ c1 }}">
        </div>
        <div class="col- {{ c2 }}">
            <h3>Create new Products</h3>
            {{ include('review/product/_form.html.twig') }}
        </div>
        <div class="col- {{ c3 }}">
        </div>
    </div>
{% endblock %}
