<li class="nav-item dropdown">
    <a class="btn btn-info btn-block dropdown-toggle rounded-0" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yet</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="dropdown-item" href="#">My Projects</a>
            <a class="dropdown-item" href="#">My Products</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{{ path('project_index') }}">Projects</a>
            <a class="dropdown-item" href="{{ path('project_new') }}">Add Project</a>
            <a class="dropdown-item" href="{{ path('product_new') }}">Add Product</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{{ path('vendor_index') }}">Vendors</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{{ path('order_index') }}">Orders</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{{ path('logout') }}">{{ 'button.navbar.logout'|trans({},'button') }}</a>
        {% else %}
            <a class="dropdown-item" href="{{ path('login') }}">{{ 'button.navbar.signin'|trans({},'button') }}</a>
            <a class="dropdown-item" href="{{ path('registration') }}">{{ 'button.navbar.signup'|trans({},'button') }}</a>
        {% endif %}

        {% if is_granted ( 'ROLE_PREVIOUS_ADMIN' ) %}
            <a class="dropdown-item" href=" {{ path ( 'homepage' , { '_switch_user' : '_exit' }) }} ">Exit
                impersonation</a>
        {% endif %}

    </div>
</li>
