{% extends 'base.html.twig' %}
    {% if error %}
        <div class="alert alert-danger">
        {{ error.message }}
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
    {{ form(form) }}
    {{ form_errors (form) }}
{% block flash %}{{ include('_flashes.html.twig') }}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('sign') }}
{% endblock %}
