{% extends 'base.html.twig' %}
{% block meta_description %}Please, sign in!{% endblock %}
{% block title %}Please, sign in!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('sign') }}
{% endblock %}
{% block body %}
    <body class="text-center">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
            {{ error.messageKey|trans(error.messageData, 'security') }}

        </div>
    {% endif %}
        {{ form(form) }}
    {{ form_errors (form) }}
    </body>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('sign') }}
{% endblock %}
