
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="true"><span class="caret"></span>
            </a>

        </li>
    {% else %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="true">
                {{ app.user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('logout') }}">{{ 'link.logout'|trans({},'domain') }}</a></li>
            </ul>
        </li>
    {% endif %}
{% else %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="true">
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('login') }}">{{ 'button.navbar.signin'|trans({},'domain') }}</a>
            <a class="dropdown-item" href="{{ path('registration') }}">{{ 'button.navbar.signup'|trans({},'domain') }}</a>
        </div>
    </li>
{% endif %}



