{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ProductId</th>
                <td>{{ product.productId }}</td>
            </tr>
            <tr>
                <th>VendorId</th>
                <td>{{ product.vendorId }}</td>
            </tr>
            <tr>
                <th>ProductParentId</th>
                <td>{{ product.productParentId }}</td>
            </tr>
            <tr>
                <th>ProductSku</th>
                <td>{{ product.productSku }}</td>
            </tr>
            <tr>
                <th>ProductGtin</th>
                <td>{{ product.productGtin }}</td>
            </tr>
            <tr>
                <th>ProductMpn</th>
                <td>{{ product.productMpn }}</td>
            </tr>
            <tr>
                <th>ProductWeight</th>
                <td>{{ product.productWeight }}</td>
            </tr>
            <tr>
                <th>ProductWeightUom</th>
                <td>{{ product.productWeightUom }}</td>
            </tr>
            <tr>
                <th>ProductLength</th>
                <td>{{ product.productLength }}</td>
            </tr>
            <tr>
                <th>ProductWidth</th>
                <td>{{ product.productWidth }}</td>
            </tr>
            <tr>
                <th>ProductHeight</th>
                <td>{{ product.productHeight }}</td>
            </tr>
            <tr>
                <th>ProductLwhUom</th>
                <td>{{ product.productLwhUom }}</td>
            </tr>
            <tr>
                <th>ProductInStock</th>
                <td>{{ product.productInStock }}</td>
            </tr>
            <tr>
                <th>ProductOrdered</th>
                <td>{{ product.productOrdered }}</td>
            </tr>
            <tr>
                <th>ProductStockHandle</th>
                <td>{{ product.productStockHandle }}</td>
            </tr>
            <tr>
                <th>LowStockNotification</th>
                <td>{{ product.lowStockNotification }}</td>
            </tr>
            <tr>
                <th>ProductAvailableDate</th>
                <td>{{ product.productAvailableDate ? product.productAvailableDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProductAvailability</th>
                <td>{{ product.productAvailability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ProductSpecial</th>
                <td>{{ product.productSpecial ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ProductDiscontinued</th>
                <td>{{ product.productDiscontinued ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ProductSales</th>
                <td>{{ product.productSales }}</td>
            </tr>
            <tr>
                <th>ProductUnit</th>
                <td>{{ product.productUnit }}</td>
            </tr>
            <tr>
                <th>ProductPackaging</th>
                <td>{{ product.productPackaging }}</td>
            </tr>
            <tr>
                <th>ProductParams</th>
                <td>{{ product.productParams }}</td>
            </tr>
            <tr>
                <th>ProductCanonCategoryId</th>
                <td>{{ product.productCanonCategoryId }}</td>
            </tr>
            <tr>
                <th>Hits</th>
                <td>{{ product.hits }}</td>
            </tr>
            <tr>
                <th>IntNotes</th>
                <td>{{ product.intNotes }}</td>
            </tr>
            <tr>
                <th>MetaRobot</th>
                <td>{{ product.metaRobot }}</td>
            </tr>
            <tr>
                <th>MetaAuthor</th>
                <td>{{ product.metaAuthor }}</td>
            </tr>
            <tr>
                <th>Layout</th>
                <td>{{ product.layout }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ product.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ordering</th>
                <td>{{ product.ordering }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ product.createdOn ? product.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ product.createdBy }}</td>
            </tr>
            <tr>
                <th>ModifiedOn</th>
                <td>{{ product.modifiedOn ? product.modifiedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedBy</th>
                <td>{{ product.modifiedBy }}</td>
            </tr>
            <tr>
                <th>LockedOn</th>
                <td>{{ product.lockedOn ? product.lockedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LockedBy</th>
                <td>{{ product.lockedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('products_index') }}">back to list</a>

    <a href="{{ path('products_edit', {'productId': product.productId}) }}">edit</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
