{% extends 'base.html.twig' %}
{% block title %}New Category{% endblock %}
{% block header %}{% endblock %}
{% block little_panel %}{% endblock %}
{% block article_header %} <h3>Create new Category</h3>{% endblock %}
{% block section %}{% endblock %}
{% block article_content %}
    {{ form_start(form) }}
    {{ dump(form) }}
    {{ form_end(form) }}
    {{ form_errors (form) }}
    {#
    {{ include('product/product/_form.html.twig') }}
    #}
{% endblock %}
