{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block article_header %}
    <h1>Categories</h1>
{% endblock %}
{% block article_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>VendorId</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ category.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>createdAt</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ category.createdBy }}</td>
            </tr>
            <tr>
                <th>modifiedAt</th>
                <td>{{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedBy</th>
                <td>{{ category.modifiedBy }}</td>
            </tr>
            <tr>
                <th>lockedAt</th>
                <td>{{ category.lockedAt ? category.lockedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LockedBy</th>
                <td>{{ category.lockedBy }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
{% block article_summery %}
    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_id_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/category/_delete_form.html.twig') }}
{% endblock %}
