{% extends 'base.html.twig' %}

{% block title %}CategoriesAttachments index{% endblock %}

{% block body %}
    <h1>CategoriesAttachments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FileTitle</th>
                <th>FileDescription</th>
                <th>FileMeta</th>
                <th>FileClass</th>
                <th>FileMimeType</th>
                <th>FileType</th>
                <th>FileUrl</th>
                <th>FileUrlThumb</th>
                <th>FileIsProductImage</th>
                <th>FileIsDownloadable</th>
                <th>FileIsForSale</th>
                <th>FileParams</th>
                <th>FileLang</th>
                <th>IsShared</th>
                <th>Published</th>
                <th>CreatedOn</th>
                <th>CreatedBy</th>
                <th>ModifiedOn</th>
                <th>ModifiedBy</th>
                <th>LockedOn</th>
                <th>LockedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_attachment in categories_attachments %}
            <tr>
                <td>{{ categories_attachment.id }}</td>
                <td>{{ categories_attachment.fileTitle }}</td>
                <td>{{ categories_attachment.fileDescription }}</td>
                <td>{{ categories_attachment.fileMeta }}</td>
                <td>{{ categories_attachment.fileClass }}</td>
                <td>{{ categories_attachment.fileMimeType }}</td>
                <td>{{ categories_attachment.fileType }}</td>
                <td>{{ categories_attachment.fileUrl }}</td>
                <td>{{ categories_attachment.fileUrlThumb }}</td>
                <td>{{ categories_attachment.fileIsProductImage ? 'Yes' : 'No' }}</td>
                <td>{{ categories_attachment.fileIsDownloadable ? 'Yes' : 'No' }}</td>
                <td>{{ categories_attachment.fileIsForSale ? 'Yes' : 'No' }}</td>
                <td>{{ categories_attachment.fileParams }}</td>
                <td>{{ categories_attachment.fileLang }}</td>
                <td>{{ categories_attachment.isShared ? 'Yes' : 'No' }}</td>
                <td>{{ categories_attachment.published ? 'Yes' : 'No' }}</td>
                <td>{{ categories_attachment.createdOn ? categories_attachment.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categories_attachment.createdBy }}</td>
                <td>{{ categories_attachment.modifiedOn ? categories_attachment.modifiedOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categories_attachment.modifiedBy }}</td>
                <td>{{ categories_attachment.lockedOn ? categories_attachment.lockedOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categories_attachment.lockedBy }}</td>
                <td>
                    <a href="{{ path('category_categories_attachments_show', {'id': categories_attachment.id}) }}">show</a>
                    <a href="{{ path('category_categories_attachments_edit', {'id': categories_attachment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_categories_attachments_new') }}">Create new</a>
{% endblock %}
