{% extends 'base.html.twig' %}

{% block title %}ProductsAttachments index{% endblock %}

{% block body %}
    <h1>ProductsAttachments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FileTitle</th>
                <th>FileDescription</th>
                <th>FileMeta</th>
                <th>FileClass</th>
                <th>FileMimeType</th>
                <th>FileType</th>
                <th>FileUrl</th>
                <th>FileUrlThumb</th>
                <th>FileIsProductImage</th>
                <th>FileIsDownloadable</th>
                <th>FileIsForSale</th>
                <th>FileParams</th>
                <th>FileLang</th>
                <th>IsShared</th>
                <th>Published</th>
                <th>createdAt</th>
                <th>CreatedBy</th>
                <th>modifiedAt</th>
                <th>ModifiedBy</th>
                <th>lockedAt</th>
                <th>LockedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for products_attachment in products_attachments %}
            <tr>
                <td>{{ products_attachment.id }}</td>
                <td>{{ products_attachment.fileTitle }}</td>
                <td>{{ products_attachment.fileDescription }}</td>
                <td>{{ products_attachment.fileMeta }}</td>
                <td>{{ products_attachment.fileClass }}</td>
                <td>{{ products_attachment.fileMimeType }}</td>
                <td>{{ products_attachment.fileType }}</td>
                <td>{{ products_attachment.fileUrl }}</td>
                <td>{{ products_attachment.fileUrlThumb }}</td>
                <td>{{ products_attachment.fileIsProductImage ? 'Yes' : 'No' }}</td>
                <td>{{ products_attachment.fileIsDownloadable ? 'Yes' : 'No' }}</td>
                <td>{{ products_attachment.fileIsForSale ? 'Yes' : 'No' }}</td>
                <td>{{ products_attachment.fileParams }}</td>
                <td>{{ products_attachment.fileLang }}</td>
                <td>{{ products_attachment.isShared ? 'Yes' : 'No' }}</td>
                <td>{{ products_attachment.published ? 'Yes' : 'No' }}</td>
                <td>{{ products_attachment.createdAt ? products_attachment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ products_attachment.createdBy }}</td>
                <td>{{ products_attachment.modifiedAt ? products_attachment.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ products_attachment.modifiedBy }}</td>
                <td>{{ products_attachment.lockedAt ? products_attachment.lockedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ products_attachment.lockedBy }}</td>
                <td>
                    <a href="{{ path('product_products_attachments_show', {'id': products_attachment.id}) }}">show</a>
                    <a href="{{ path('product_products_attachments_edit', {'id': products_attachment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_products_attachments_new') }}">Create new</a>
{% endblock %}
