{% extends 'base.html.twig' %}
{% block title %}{{ 'http_error_404.description'|trans({},'message') }}{% endblock %}
{% block meta_description %}{{ 'http_error_404.suggestion'|trans({ '%url%': path('homepage') }, 'message')|raw }}{% endblock %}
{% block header %}<h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': 404 }, 'message') }}</h1>{% endblock %}
{% block article_header %}<h1>{{ 'http_error.name'|trans({ '%status_code%': 404 }, 'message') }}</h1>{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('err404') }}
{% endblock %}
{% block body %}
    <body class="text-center">
        <div class="alert">
            {{ 'http_error_404.description'|trans({},'message') }}
            {{ parent() }}
        </div>
    </body>
{% endblock %}
{#    {{ show_source_code(_self) }}#}
{% block javascripts %}
    {{ encore_entry_script_tags('err404') }}
{% endblock %}

