{#
    Navbar, headbar and mail blocks must have same parameters for 'col'
    use var b1 = '';
    use var b2 = '';
    use var b3 = '';
    use var b4 = '';

#}

{% set b1 = 'hidden-xs col-sm-1 col-md-1 col-lg-1 z1 hidden-phone ml-1 m-0 p-0' %}
{% set b2 = 'col-hidden-xs col-sm-1 col-md-1 col-lg-1' %}
{% set b3 = 'col-xs-12 col-sm-6 col-md-8 col-lg-8 m-0 container' %}
{% set b4 = 'col-xs-12 col-sm-3 col-md-2 col-lg-2' %}
{% set block = 'col-md-3 p-1 masonry-brick' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Smartresponsor, Llc">

        <link rel="icon" href="/favicon.ico">

        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_css_files('app') }}
        {% endblock %}
    </head>
{% endblock %}
{% block body %}
    <body>
    <header class="section-header">

        {% block navbar %}
            <nav class="row navbar navbar-expand-sm navbar-dark bg-secondary">
                <menu class="{{ b1 }}">
                    <a class="navbar-brand float-right" href="#">...iSponsor!
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            Username: {{ app.user.username }}
                        {% endif %}
                    </a>

                </menu>
                <menu class="{{ b2 }} left">

                </menu>
                <menu class="{{ b3 }}">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('homepage') }}">Home <span
                                            class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('projects') }}">Projects</a>
                                    <a class="dropdown-item" href="{{ path('projects_new') }}">Add Project</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    {% if is_granted ( 'ROLE_PREVIOUS_ADMIN' ) %}
                                        <a href=" {{ path ( 'homepage' , { '_switch_user' : '_exit' }) }} "> Exit
                                            impersonation </a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('sponsor') }}">Sponsor</a>
                                    <a class="dropdown-item" href="{{ path('author') }}">Author</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('orders_index') }}">Orders</a>
                                    <a class="dropdown-item" href="{{ path('projects') }}">Projects</a>
                                    <a class="dropdown-item" href="{{ path('products_index') }}">Products</a>
                                    {#
                                    <a class="dropdown-item" href="{{ path('projects') }}">Projects</a>
                                    <a class="dropdown-item" href="{{path('projects_new')}}">Add Project</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    #}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign..</a>
                            </li>
                        </ul>
                    </div>
                </menu>
                <menu class="col-xs-12 col-sm-3 col-md-2 col-lg-2">

                </menu>

            </nav>
        {% endblock %}
        <section class="row header-main bg m-1">
            <div class="{{ b1 }}">
            </div>
            <div class="{{ b2 }}">
            </div>
            <div class="{{ b3 }}">
                <div class="row btn-toolbar justify-content-between" role="toolbar" aria-label="View settings">
                    <div class="col-1 btn-group btn-group-toggle" role="group" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option3" autocomplete="off">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option4" autocomplete="off">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </label>
                    </div>
                    <div class="col-8 input-group">
                        <input type="search" class="form-control" name="q" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-3 input-group">
                        <a class="btn btn-light mr-1" href="{{ path('showcart') }}">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Cart</span>
                            {{ render(controller('App\\Controller\\CartController::navbarCart')) }}

                        </a>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="btn-toolbar" role="toolbar" aria-labelledby="navbarFavourites">
                                <div class="btn-group mr-1" role="group" aria-label="Favourites">
                                    <a class="btn btn-secondary"
                                       href="{{ path('favourites', {'favourites' : 'projects'}) }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        J</a>
                                    <a class="btn btn-secondary"
                                       href="{{ path('favourites', {'favourites' : 'products'}) }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        D</a>
                                    <a class="btn btn-secondary"
                                       href="{{ path('favourites', {'favourites' : 'vendors'}) }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        V</a>
                                </div>
                                <div class="btn-group mr-1">
                                    <a class="btn btn-secondary"
                                       href="{{ path('favourites', {'favourites' : 'index'}) }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        A</a>
                                    {% if is_granted ( 'ROLE_PREVIOUS_ADMIN' ) %}
                                        <a href=" {{ path ( 'homepage' , { '_switch_user' : '_exit' }) }}">
                                            Exit impersonation</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="{{ b4 }}">
            </div>
        </section>
        <hgroup>
            {% block header %}{% endblock %}
        </hgroup>
    </header>
    {% block blocks %}
        <main role="main" class="row m-1">
            <aside id="b1" class="{{ b1 }}">
                <a id="move_up" class="float-right mr-3" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Go
                    to up</a>
                {% block ontop %}{% endblock %}
            </aside>
            <aside id="b2" class="{{ b2 }}">
                {% block sidebar %}{% endblock %}
            </aside>
            <article id="b3" class="{{ b3 }}">
                <header>
                    {% block article_header %}{% endblock %}
                </header>
                <section>
                    {% block article_content %}{% endblock %}
                </section>
                <section>
                    <details>
                        <summary>
                            {% block article_summery %}{% endblock %}
                        </summary>
                    </details>
                </section>
                <footer>
                    {% block article_footer %}{% endblock %}
                </footer>
            </article>
            <aside id="b4" class="{{ b4 }}">
                {% block aside %}{% endblock %}
            </aside>
        </main>
    {% endblock %}
    </body>
{% endblock %}

{% block footer %}
    <footer id="footer" class="footer section-footer bg-dark white">
        <section class="container-fluid footer-bottom">
            <div class="row foot">
                <div class="col-xs-12 col-lg-12 col-sm-12 center">
                    <ul class="list-group list-group-horizontal-sm locales" role="menu" aria-labelledby="locales">1
                        {% for locale in locales() %} 2
                            <li {% if app.request.locale == locale.code %}aria-checked="true" class="font-weight-bold"
                                {% else %}aria-checked="false"{% endif %} role="menuitem">
                                <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}"><small>{{ locale.name|capitalize }}
                                        ({{ locale.code[0:2] }})</small></a>
                            </li>
                            <li>|</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row foot">

                <div class="col-xs-12 col-lg-2 col-sm-12 f2-3">2-3</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f4-5">4-5</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f6-7">6-7</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f8-9">8-9</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f10-11">10-11</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f12">12</div>
            </div>
            <div class="row foot">

                <div class="col-xs-12 col-lg-2 col-sm-12 f20-30">20</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f40-50">40</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f60-70">60</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f80-90">80</div>
                <div class="col-xs-12 col-lg-2 col-sm-12 f100-110">100</div>
                <div class="col-xs-12 col-lg-1 col-sm-12 f120">120</div>
                <div class="col-xs-12 col-lg-1 col-sm-12 f120">120</div>
        </div>
    </section>
</footer>
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_js_files('app') }}
    {% endblock %}
</html>

