{% extends 'base.html.twig' %}
{% block title %}Projects index{% endblock %}
{% block header %}{% endblock %}
{% block little_panel %}{% endblock %}
{% block article_header %}{% endblock %}
{% block section %}{% endblock %}

{% block article_content %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>CreateOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <pre>
</pre>
        {% for project in project %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.id }}</td>
                <td>{{ project.id }}</td>
                <td>
                    <a href="{{ path('projects_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_new') }}">Create new</a>
{% endblock %}
