{% extends 'base.html.twig' %}
{% block title %}New Project{% endblock %}
{% block header %}{% endblock %}
{% block little_panel %}
    {{ include('_tools.html.twig') }}
{% endblock %}
{% block article_header %}<h3>Create new Project</h3>{% endblock %}
{% block article_content %}
    {{ form_start(form) }}
    <ul class="projectAttachment" data-index="{{ form.stepThree.projectAttachment|length > 0 ? form.stepThree.projectAttachment|last.vars.fileName + 1 : 0 }}" data-prototype="{{ form_widget(form.stepThree.projectAttachment.vars.prototype)|e('html_attr') }}"></ul>
    {{ form_end(form) }}
    {{ form_errors (form) }}
{% endblock %}

