{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}



    <h1>Projects</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
{#                <td>{{ project.category }}</td>#}
            </tr>
            <tr>
                <th>Ordering</th>
{#                <td>{{ project.ordering }}</td>#}
            </tr>
        </tbody>
    </table>





    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit_id', {'id': project.id}) }}">edit</a>

    {{ include('project/project/_delete_form.html.twig') }}
{% endblock %}
