{% block stylesheets %}
    {{ encore_entry_link_tags('err404') }}
{% endblock %}

<h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': 404 }) }}</h1>

<p class="lead">
    {{ 'http_error_404.description'|trans }}
</p>
<p>
    {{ 'http_error_404.suggestion'|trans({ '%url%': path('homepage') })|raw }}
</p>
{{ parent() }}

    {{ show_source_code(_self) }}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

