<h1>{{ 'email.password_reset.to_reset_your_password'|trans({}, null, locale) }}</h1>
<p>
    {{ 'email.password_reset.instructions'|trans({'%username%': username}, null, locale) }}
</p>
<a href="{{ app.request.schemeAndHttpHost }}/reset-password/{{ token }}">
    {{ 'email.password_reset.link_text'|trans({}, null, locale) }}
</a>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<p>Hello {{ username }},</p>

<p>We received a request to reset your password. You can set a new one by clicking the link below:</p>

<p>
    <a href="{{ resetUrl }}">Reset my password</a>
</p>

<p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>

<hr>
<p style="font-size: 12px; color: #888;">This is an automated message. Please do not reply.</p>
</body>
</html>
