<h1>{{ 'email.password_reset.to_reset_your_password'|trans({}, null, locale) }}</h1>
<p>
    {{ 'email.password_reset.instructions'|trans({'%username%': username}, null, locale) }}
</p>
<a href="{{ app.request.schemeAndHttpHost }}/reset-password/{{ token }}">
    {{ 'email.password_reset.link_text'|trans({}, null, locale) }}
</a>
